.slider_part {
   position: relative;
   .main_slider {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow: hidden;
      height: 780px;
      .info_block {
         --shadow-color: var(--color-blue);
         display: flex;
         justify-content: center;
         max-width: 1200px;
         width: 100%;
         height: 100%;
         position: relative;
         margin: 0 auto;
         z-index: 3;
         color: #fff;
         display: flex;
         flex-direction: column;
         gap: 8px;
         & > p {
            font-size: 20px;
            text-shadow: 0 0 3px #000;
            line-height: 1.3;
            max-width: 1000px;
         }
         & > h2 {
            font-size: 76px;
            text-align: left;
            font-weight: 600;
            text-shadow: 0 0 3px #000;
         }
         button,
         .more_detailes_link a {
            --color: var(--color-blue-alt);
            display: flex;
            align-items: center;
            font-size: 18px;
            border: 1px solid #fff;
            background-color: var(--color);
            color: #fff;
            gap: 8px;
            width: fit-content;
            padding: 12px 16px;
            margin-top: 20px;
            transition: background-color 0.3s, color 0.3s, border-color.3s;
            font-family: var(--font-g-medium);
            svg {
               fill: #fff;
               transition: fill 0.3s, transform 0.3s;
            }
            &:hover {
               color: var(--color);
               background-color: #fff;
               border-color: var(--color);
               svg {
                  fill: var(--color);
                  transform: rotate(35deg);
               }
            }
            .arrow {
               height: 16px;
               aspect-ratio: 1;
            }
         }
         .more_detailes_link a {
            text-decoration: none;
         }
      }
   }
   .controls {
      position: absolute;
      bottom: 20px;
      display: flex;
      z-index: 3;
      bottom: 32px;
      left: 32px;
      .button {
         display: flex;
         align-items: center;
         gap: 8px;
         transition: transform 0.3s;
         color: #fff;
      }
      .control {
         position: relative;
         display: flex;
         align-items: center;
         gap: 8px;
         background-color: transparent;
         font-family: var(--font-g-light);
         border: none;
         .control_arrow_prev,
         .control_arrow_next {
            display: flex;
            height: 12px;
            align-items: center;
            aspect-ratio: 1;
            svg {
               fill: #fff;
            }
         }
         .alt_button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 46px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            border: 1px solid #ffffff;
            transition: transform 0.3s;
            .control_arrow_prev_alt,
            .control_arrow_next_alt {
               display: flex;
               height: 16px;
               align-items: center;
               aspect-ratio: 1;
            }
            .control_arrow_prev_alt {
               transform: rotate(180deg) translateY(-1px);
            }
         }
         .control_arrow_prev {
            transform: rotate(180deg) translateY(-1px);
         }
         .control_arrow_next {
            transform: translateY(1px);
         }
         &:hover {
            background-color: transparent;
            .button {
               transform: scale(0);
            }
            .alt_button {
               transform: translate(-50%, -50%);
            }
            svg {
               transform: none;
               fill: #fff;
            }
         }
      }
   }
}
