@import 'null.css';
@import 'fonts.css';
@import 'variables.css';

html {
   position: relative;
   font-family: var(--font-g-regular);
   /* cursor: none; */
   button,
   a {
      /* cursor: none; */
      cursor: pointer;
      font-family: var(--font-g-regular);
   }
}

html* {
   outline-color: #adadad;
}

h1,
h2,
h3 {
   text-align: center;
}

*::-webkit-scrollbar {
   width: 4px;
}

*::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
   background-color: #90959d;
   border-radius: 20px;
   border: 1px solid white;
   padding: 2px;
}
