html {
   --color-blue: #003f4d;
   --color-red: #9e0c0c;
   --color-blue-alt: #36799a;
   --font-g-light: 'Gantari-light', sans-serif;
   --font-g-regular: 'Gantari-regular', sans-serif;
   --font-g-medium: 'Gantari-medium', sans-serif;
   --font-g-semibold: 'Gantari-semibold', sans-serif;
   --logo-height: 80px;
   --header-padding: 16px;
   --header-height: calc(var(--logo-height) + var(--header-padding));
   --shadow-first: 0 0 6px 2px #d4d4d4a1;
   --full-height: calc(100svh - var(--header-height));
   --max-width-hf: 1200px;

   --shadow-out: 0px 1px 4px rgba(174, 174, 192, 0.25), 2px 2px 3px rgba(174, 174, 192, 0.25);
   --shadow-in: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
}

@media screen and (max-width: 1024px) {
   html {
      --logo-height: 50px;
      --header-padding: 20px;
   }
}
