.pixelated_image_card {
   background-color: #222;
   color: var(--color-primary, #fff);
   border-radius: 15px;
   border: 2px solid #fff;
   width: 300px;
   max-width: 100%;
   position: relative;
   overflow: hidden;
}

.pixelated_image_card__default,
.pixelated_image_card__active,
.pixelated_image_card__pixels {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.pixelated_image_card__active {
   z-index: 2;
}

.pixelated_image_card__active {
   opacity: 0.95;
   display: none;
}

.pixelated_image_card__pixels {
   pointer-events: none;
   position: absolute;
   z-index: 3;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.pixelated_image_card__pixel {
   display: none;
   position: absolute;
}
