.video_slider {
   width: 1553px;
   margin: 0 auto;
   padding: 8px;
   margin-bottom: 80px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: var(--shadow-first);
   border: 2px solid #fff;
   .slide {
      width: auto;
      overflow: hidden;
      border-radius: 8px;
      border: 2px solid #414141;
      video {
         transform: scale(1.3);
      }
   }
}
.fullscreen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: black;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
   cursor: pointer;
}
.swiper-button-prev,
.swiper-button-next {
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 10px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}
